@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
/* .merienda-<uniquifier> {
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
 */


/* #7A2F83
#FFFFFF
#B92F72
#E9BFBD
#EE4043 */